*
body{
    
        text-align: center;
        text-transform: capitalize;
        background-repeat: no-repeat;
        background-image: url(Images/logo6.jpg);
        background-position: center;
        background-size: cover;
    }
    h2{
        border: 1px solid;
        padding: 25px;
        margin: 30px;
        padding: 20px;
        background-color: blueviolet;
        border-color: chartreuse;
        border-radius: 10px;
        color: rgb(100, 0, 0);
        justify-content: center;
    }
    .container{
        float: right;
        margin-right: 10%;
        background-color: chartreuse;
        border-radius: 200px;
      }
    img{
        height: 150px;
        width: 150px;
        border-radius: 200px;
        float: right;
    }
    
      .box img{
        margin: 0 10px;
        box-shadow: 0 0 20px rgba(red, green, blue, alpha);
      }
      .box:hover{
        transform: scale(1.3);
        z-index: 2;
        cursor: grab;
      }
    p{
        text-align: left;
        color: chartreuse;
        text-size-adjust: 40px;
    }
    a{
        text-decoration: none;
        color: aqua;
    }
    a:hover{
        color: chartreuse;
    }
    .button{
        float: left;
        width: 100px;
        height: 40px;
        margin-left: 5%;
        margin-top: 1%;
        border-radius: 30px;
        /* content: '';
        background: linear-gradient(to left rgba(255,255,255,0.15)),transparent;
        transform: skewX(45deg) translateX(0); */
    }
    .button:hover{
        transform: scale(1.3);
        z-index: 2;
        cursor: grab;
        box-shadow: 0 5px 50px 0 #def415 inset, 0 5px 50px 0 #def415,
        0 5px 50px 0 #def415 inset, 0 5px 50px 0 #def415;
        text-shadow: 0 0 5px #def415, 0 0 5px #def415;
        letter-spacing: 5px;    
        /* box-shadow:0 5px 50px ;
        letter-spacing: 15px; */
       
    }
    